.carousel-inner img {
  <!--width: 100%; /* Set width to 100% */-->
  <!--max-height: 375px;-->
  min-height: 200px;
}
<!-- Hide the carousel text when the screen is less than 600 pixels wide -->
@media (max-width: 600px) {
  .carousel-caption {
	display: none; 
  }
}

.carousel-caption {
	width: 100%;
	position: absolute;
	left: 5px;
	text-align: left;
}

.vertical .carousel-inner {
  <!--height: 500px;-->
}
	
.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
  top: 0;
}
.carousel.vertical .next {
  top: 100%;
}
.carousel.vertical .prev {
  top: -100%;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}
.carousel.vertical .active.left {
  top: -100%;
}
.carousel.vertical .active.right {
  top: 100%;
}
.carousel.vertical .item {
	left: 0;
}

h1 {
	color: #f6ce00;
	font-size: 35pt;
	font-weight: bold;
	font-family: "Century Gothic";
	text-shadow: 2px 2px #cf0060;
	text-align: center;
}

h2 {
	font-size: 20pt;
}

h3 {
	font-size: 25pt;
	color: #f6ce00;
	font-weight: bold;
	font-family: "Century Gothic";
	text-shadow: 2px 2px #cf0060;
}

ul {
	font-size: 15pt;
}

.container {
	padding-top: 0%;
}

.crop {
	height: 500px;
	overflow: hidden;
}

.squareCrop {
	width: 100px;
	height: 100px;
	overflow: hidden;
}