<!DOCTYPE html>
<html lang="en">
<head>
  <title>Giddy TV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/main.css">
</head>
<body>
<script>
function update_values(){
	/*$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$.getJSON($SCRIPT_ROOT+"/_stuff",
		function(data) {
			//$("#Users").text(data.Users+" %")
			//$("#Projects").text(data.Projects+" %")
		});*/
	var deferredData = new jQuery.Deferred();
    $.ajax({
        type: "GET",
        url: "/ajax",
        dataType: "json",
        success: function(data) { 
            deferredData.resolve(data);
            },
        complete: function(xhr, textStatus) {
            console.log("AJAX Request complete -> ", xhr, " -> ", textStatus);
            }
    });
	console.log("updated values!");
	console.log(deferredData);
	setTimeout(update_values,9500);
}
</script>

<div class="container">
<div class="row">
  <!--<script>setTimeout(update_values,1000);</script>-->
  <!-- Horizontal Carousel -->
  <div class="col-sm-8">
	<div class="row">
		<div class="col-sm-4">
			<img src="static\Giddy.PNG" alt="Giddy" style="width:30%"><!-- this is really called from script.py-->
		</div>
		<div class="col-sm-8">
			<h1>Maker Space</h1>
		</div>
	</div>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        
		<!--First Slide-->
		<div class="item active">
			<div class="crop"><img src="static\wallpaper.png" alt="Wallpaper" width="100%"></div>
			<!--<img src="assets\Giddy.PNG" width="30%">-->
			<h3>Howdy!</h3>
			<h2>Welcome to the FirstBuild Maker Space! Where imagination meets reality.</h2>
		</div>
		
		<!--Remaining Slides-->
		{% for i in range(Projects|length) %}
			{% if Projects[i].getImage() is not none and Projects[i].getImage() != '' %}
			<div class="item">
				<div class="crop"><img src= {{Projects[i].getImage()}} alt="Image" width="100%"></div>
				<h3>{{Projects[i].getTitle()}}</h3>
				<h2>{{Projects[i].getDetail()}}</h2>
				<hr>
				<div class="row">
					{% for j in range(Projects[i].team|length) %}
						<div class="col-md-2" style="text-align:center">
							<img src={{Projects[i].getMember(j).getImage()}} width="100%">
							<p>@{{Projects[i].getMember(j).getUsername()}}</p>
						</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
		{% endfor %}
      
	  </div>
    </div>
  </div>

  <!-- Vertical Carousel -->
  <div class="col-sm-4">
	<div><h1 align="center">Here & Now</h1></div>
    <div id="myCarousel" class="carousel slide vertical" data-ride="carousel">
		<!--wrapper for slides-->
		<div class="carousel-inner" role="listbox">
			
			<div class="item active">
				<img src="https://placehold.it/800x400?text=IMAGE" alt="Image">
				<p>Everyone whom is here now</p>
			</div>
			
			{% for i in range(Users|length) %}
			<div class="item">
				<p style="text-align:center"><img src= {{Users[i].getImage()}} alt="Image" width="55%"></p>
				<p align="center">@{{Users[i].getUsername()}}</p>
				<h3 style="font-size:35pt" align="center">{{Users[i].getName()}}</h3>
				<hr>
				<h2 style="color:orange">Skills</h2>
				<ul>
					{% for j in range(Users[i].skills|length) %}
						<li>{{Users[i].getSkill(j).getTitle()}} - <span style="color:red">level {{Users[i].getSkill(j).getLevel()}}</span></li>
					{% endfor %}
				</ul>
				<h2 style="color:orange">Projects</h2>
				<ul>
					{% for k in range(Users[i].projects|length) %}
						<li>{{Users[i].getProject(k).getTitle()}}</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
	  </div>
	</div>
  </div>
  <!--<h2>This app is a work in progress. Have a suggestion? Let us know on Slack at #GiddyTV</h2>-->
</div>
</div>
</body>
</html>